<.header>
  New Todo item
  <:subtitle>Use this form to manage todo_item records in your database.</:subtitle>
</.header>

<.todo_item_form changeset={@changeset} action={~p"/todos"} />

<.back navigate={~p"/todos"}>Back to todos</.back>
